* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sky {
  width: 100%;
  height: 1500px;
  background: url("./imgs/bg1.png");
}
#sky article {
  position: absolute;
  top: 750px;
  left: 40%;
}
