@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/*====mobile====*/
/*common*/
body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100vh;
}
/*header*/
header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid #000;
  #inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    .logo {
      font-size: 20px;
    }
    .toggle_btn {
      position: relative;
      width: 20px;
      height: 13px;
      cursor: pointer;
      z-index: 4;
      span {
        position: absolute;
        right: 0;
        width: 20px;
        height: 2px;
        background: #000;
        &:nth-child(1) {
          top: 0%;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.active span {
        background: #fff;
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
    .gnb {
      display: none;
      width: 200px;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      padding: 80px 25px 0 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: right;
      background: #000;
      z-index: 3;
      font-weight: bold;
      li {
        padding: 30px 0;
        a {
          font-size: 20px;
          color: #fff;
        }
      }
      &.active {
        display: block;
      }
    }
  }
}
/*figure*/
figure {
  width: 100%;
  height: 100%;
  position: relative;
  .video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .heading {
    position: absolute;
    bottom: 50px;
    left: 25px;
    color: #fff;
    span {
      font-size: 30px;
      &:nth-child(1) {
        display: block;
      }
    }
  }
}
/*section*/
.introduce-section {
  width: 100%;
  height: 100%;
  border: 1px solid #f00;
  position: relative;
  .inner {
    width: 100%;
    padding: 100px 25px;
    .sec-tit {
      font-size: 25px;
    }
    .sec-content {
      .content01 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:hover span {
          background: dodgerblue;
          border: none;
        }
        span {
          width: 100%;
          height: 100%;
          position: absolute;
          border: 1px solid #000;
          border-radius: 45% 50% 45% 65%;
          animation: circle 3s linear infinite;
          &:nth-child(2) {
            animation-delay: 0.3s;
            animation-direction: reverse;
          }
          &:nth-child(3) {
            animation-delay: 0.6s;
          }
        }
        @keyframes circle {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .name {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: normal;
          font-size: 25px;
        }
      }
      .content02 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 160px;
        top:65px;
        span {
          width: 33px;
          height: 33px;
          position: absolute;
          border-radius: 100%;
          &:nth-child(1) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            z-index: 1;
          }
          &:nth-child(2) {
            top: 16%;
            left: 16%;
            background: dodgerblue;
          }
          &:nth-child(3) {
            top: 16%;
            right: 16%;
            background: dodgerblue;
          }
          &:nth-child(4) {
            bottom: 16%;
            right: 16%;
            background: dodgerblue;
          }
          &:nth-child(5) {
            bottom: 16%;
            left: 16%;
            background: dodgerblue;
          }
        }
      }
      .content03 {
        position: absolute;
        top: 60%;
        right: 20%;
        .heart {
          width: 10px;
          height: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          background: red;
          transform: rotate(45deg);
          &::before,
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: inherit;
            border-radius: 50%;
          }
          &::before {
            top: 0;
            left: -50%;
          }
          &::after {
            top: -50%;
            left: 0;
          }
        }
      }
      .content04 {
        position: absolute;
        top: 30%;
        left: 20%;
        font-size: 15px;
      }
      .content05 {
        position: absolute;
        top: 30%;
        right: 30%;
        font-size: 15px;
      }
      .content06 {
        position: absolute;
        top: 45%;
        right: 15%;
        font-size: 15px;
      }
      .content07 {
        position: absolute;
        top: 70%;
        left: 50%;
        font-size: 15px;
      }
      .content08 {
        position: absolute;
        bottom: 20%;
        right: 25%;
        font-size: 15px;
      }
      .content09 {
        position: absolute;
        top: 50%;
        left: 15%;
        font-size: 15px;
      }
      .content10 {
        position: absolute;
        bottom: 15%;
        left: 35%;
        font-size: 15px;
      }
    }
  }
}
.hobby-section {
  width: 100%;
  height: 100%;
  .inner {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    .sec-tit {
      padding: 120px 0 60px;
      font-size: 40px;
      font-weight: bold;
    }
    .sec-contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;
      .hobby {
        width: 100%;
        display: flex;
        &-img {
          width: 60%;
          height: 160px;
          overflow: hidden;
          border-radius: 10px;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #000;
            opacity: 0;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.3s linear;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
          }
          &:hover::before {
            opacity: 0.8;
          }
          &:hover h3 {
            opacity: 1;
          }
          h3 {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 5px;
            color: #fff;
            font-size: 40px;
            font-weight: normal;
            opacity: 0;
          }
        }
        &-info {
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 2px;
          padding-left: 10px;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}

/*====tablet====*/
@media screen and (min-width: 768px) {
  header {
    #inner {
      width: 80%;
      margin: 0 auto;
      .toggle_btn {
        display: none;
      }
      .gnb {
        display: block;
        width: auto;
        height: auto; /*gnb 안 글자만큼만 height auto => 위에서 속성값을 수정해줘야 함*/
        position: static;
        box-shadow: none;
        background: none;
        padding: 0;
        ul {
          display: flex;
          flex-direction: row;
          gap: 60px;
          li {
            padding: 0;
            a {
              display: block;
              color: #000;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  figure {
    width: 100%;
    .heading {
      width: 80%;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      span {
        font-size: 40px;
        &:nth-child(1) {
          display: inline-block;
        }
      }
    }
  }

  .hobby-section {
    .inner {
      width: 80%;
      .sec-tit {
        padding: 180px 0 60px;
        font-size: 50px;
      }
      .sec-contents {
        flex-direction: row;
        gap: 20px;
        .hobby {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          &:nth-child(3) {
            margin-right: 0;
          }
          &-img {
            width: 100%;
            height: 300px;
          }
          &-info {
            width: 100%;
            padding-left: 0;
            padding-top: 10px;
            flex-direction: row;
            justify-content: flex-start;
            gap: 5px;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1132px) {
  figure {
    .heading {
      span {
        font-size: 50px;
      }
    }
  }
}
