@import url(./reset.css);
#wrap {
  height: 45px;
  background: url("./img/header_background.png");
}
#main_header .left {
  background: url(./img/css_sprites.png);
  background-position: -32px, 0;
  text-indent: -9999px;
}
