/* div {
  border: 3px solid #000;
  box-shadow: 0px 0px 5px #000;
  text-align: center;
}
h1 {
  color: #fff;
  text-shadow: 0px 0px 5px #000;
} */
div {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  background:linear-gradient(
to bottom, #f85032 10%, #f16f5c 50%, 
#f6290c 1%,#e73827 100%
  );


