/* #header {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #f00;
  background: #f00;
}
#wrap {
  width: 800px;
  margin: 0 auto;
  display: flex;
}
#aside {
  width: 200px;
  background: #00f;
}
#content {
  width: 600px;
  background: #0f0;
} */
/* input[type="text"] {
  background: #f00;
}
input[type="password"] {
  background: #00f;
} */
/* img[src$="png"] {
  border: 4px solid #f00;
}
img[src$="jpg"] {
  border: 4px solid #00f;
} */
/* #header > h1 {
  color: #0f0;
}
.header > ul > li {
  color: #00f;
} */
