@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/*====mobile====*/
body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  #inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 25px;
    padding: 0 25px;
    .logo {
      font-size: 20px;
    }
    .toggle_btn {
      position: relative;
      width: 20px;
      height: 14px;
      cursor: pointer;
      z-index: 3;
      span {
        position: absolute;
        width: 20px;
        height: 3px;
        background: #000;
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
    }
    .gnb {
      display: none;
      font-weight: bold;
      position: absolute;
      width: 200px;
      height: 100vh;
      top: 0;
      right: 0;
      padding: 80px 25px 0 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2);
      text-align: right;
      background: #123e8c;
      z-index: 2;
      li {
        padding: 30px 0;
        a {
          font-size: 20px;
          color: #fff;
          &:hover {
            font-weight: bold;
            color: #ffed00;
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }
}
figure {
  h1 {
    height: 350px;
    font-size: 80px;
    padding-top: 140px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    span {
      &:nth-child(1) {
        display: block;
      }
      &:nth-child(2) {
        display: inline-block;
        margin-top: 20px;
      }
    }
  }
  .slider {
    width: 100%;
    height: calc(100vh - 350px);
    background: url("./img/img1.png") center/cover no-repeat;
    border-radius: 20px 20px 0 0;
    animation: poo 10s linear infinite;
    transition: all 0.5s;
  }
  @keyframes poo {
    0% {
      background: url("./img/img1.png") center/cover no-repeat;
    }
    40% {
      background: url("./img/img1.png") center/cover no-repeat;
    }
    80% {
      background: url("./img/img2.jpg") center/cover no-repeat;
    }
    100% {
      background: url("./img/img2.jpg") center/cover no-repeat;
    }
  }
}

#hobby-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    width: 95%;
    height: 100%;
    .sec-tit {
      padding: 80px 0 30px;
      height: 20%;
      font-size: 40px;
      font-weight: normal;
      color: #123e8c;
      text-align: center;
    }
    .wrap {
      border: 1px solid #f00;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .hobby {
        width: 100%;
        height: 100%;
        display: flex;
        &-img {
          width: 60%;
          height: 180px;
          overflow: hidden;
          border-radius: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            transition: all 0.3s linear;
            opacity: 0.9;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
            &:hover {
              transform: scale(1.2);
              opacity: 1;
            }
          }
        }
        &-info {
          width: 40%;
          margin-left: 20px;
          h3 {
            font-size: 20px;
            margin-bottom: 5px;
          }
          p {
            color: #123e8c;
            font-size: 15px;
          }
        }
      }
    }
  }
}

/*====tablet====*/
@media screen and (min-width: 768px) {
  header {
    #inner {
      width: 80%;
      margin: 0 auto;
      .toggle_btn {
        display: none;
      }
      .gnb {
        display: block;
        position: static;
        box-shadow: none;
        width: auto;
        height: auto; /*gnb 안 글자만큼만 height auto => 위에서 속성값을 수정해줘야 함*/
        background: none;
        padding: 0;
        ul {
          display: flex;
          flex-direction: row;
          gap: 60px;
          li {
            padding: 0;
            a {
              color: #000;
              font-size: 15px;
              &:hover {
                color: #ffed00;
              }
            }
          }
        }
      }
    }
  }
  figure {
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
      width: 40%;
      height: 100%;
      font-size: 100px;
      padding-left: 10%;
      span {
        &:nth-child(2) {
          display: block;
          margin: 30px 0;
        }
      }
    }
    .slider {
      width: 60%;
      height: 100vh;
      margin-top: 120px;
    }
  }
  #hobby-section {
    .inner {
      width: 80%;
      .wrap {
        flex-direction: row;
        border: 1px solid #f00;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .hobby {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          &-img {
            width: 100%;
            height: 180px;
            overflow: hidden;
            border-radius: 20px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 20px;
              transition: all 0.3s linear;
              opacity: 0.9;
              box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
              &:hover {
                transform: scale(1.2);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1132px) {
  figure {
    h1 {
      font-size: 140px;
    }
  }
}
