@font-face {
  font-family: "youtube";
  src: url("../font/AnyConv.com__KFOlCnqEu92Fr1MmEU9fBBc9AMP6lQ.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
