@import url("./reset.css");
@import url("./font.css");

#content {
  width: 1240px;
  margin: 0 auto;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 25px;
}

.title > h5 {
  color: #007aff;
}
.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article img {
  height: 180px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.bar span {
  width: 10px;
  height: 10px;
  background: #cccccc;
  border-radius: 10px;
}
.bar span:first-child {
  background: #007aff;
}
.event .article img {
  width: 390px;
}
#badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
#badge span {
  font-size: 13px;
  margin-top: 10px;
}
.favorite .article img {
  width: 290px;
}
