@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/*common*/

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #b1e1e2; /*빼면안됨=>새로고침시 배경색 없음 이상함*/
  animation: sky linear 20s infinite;
}
@keyframes sky {
  0% {
    background: #b88fcc;
  }
  25% {
    background: #b1e1e2;
  }
  50% {
    background: #fcd2e2;
  }
  75% {
    background: #636888;
  }
  100% {
    background: #b08fcc;
  }
}

h1 {
  width: 1000px; /*section 너비와 일치하도록*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  text-align: center;
  color: #fff;
  font: bold 92px/1 "Poiret One";
  animation: day linear 20s infinite;
}

@keyframes day {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section {
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -70%
  ); /*좌측상단 꼭지점 기준으로 움직이므로 도형의 반만큼 이동, -50=>-70%마을이동*/
}
section .sky {
  position: relative;
  width: 100%;
  height: 100%;
}
section .sky .sun {
  position: absolute;
  top: -150px;
  left: 50%;
  transform-origin: center 500px; /*중심축 이동 =>section 400px 보다 더 많이 내려옴*/
  margin-left: -100px;
  animation: sun linear 20s infinite;
}
@keyframes sun {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg);
  }
  75% {
    opacity: 0;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}
section .sky .cloud1 {
  position: absolute;
  top: -30px;
  left: 10%;
  animation: flow linear 10s infinite;
}
section .sky .cloud2 {
  position: absolute;
  top: 20px;
  left: 0;
  animation: flow linear 20s infinite;
}
section .town .circle {
  position: absolute;
  bottom: 104px; /*top이면 반대로 계산*/
  left: 50%;
  margin-left: -165px;
  animation: rotation linear 20s infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section .town .night {
  position: absolute;
  bottom: 0;
  left: 40px;
}
section .town .day {
  position: absolute;
  bottom: 0;
  left: 40px;
  animation: day linear 20s infinite;
}

section .people {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; /*bottom: 0도 가능*/
  left: 0;
  animation: day linear 20s infinite;
}

section .people .man {
  position: absolute; /*부모요소에relative 없어도 절대값=>가장 가까운 위치 지정 조상 요소에 대해 상대적으로 배치*/
  left: 0;
  bottom: 0;
  animation: flow linear 10s infinite;
}
section .people .family {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: flow linear 20s infinite;
}
@keyframes flow {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}
