body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.people {
  display: flex;
}
.human {
  text-align: center;
  width: 600px;
  height: 400px;
}
.human img {
  width: 100px;
  border-radius: 100%;
}
.human p:nth-of-type(2) span {
  color: orange;
}
.btn {
  width: 100px;
  height: 20px;
  border: 1px solid #f00;
  width: 100%;
  text-align: center;
}
