fieldset {
  width: 280px;
  font-weight: bold;
  margin-bottom: 20px;
}
div {
  text-align: center;
}
p label {
  color: lightseagreen;
}
#submit {
  width: 300px;
  text-align: center;
}
